@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0; /* Keep foreground color as is */
  --background-start-rgb: 13, 13, 43; /* Updated to RGB value */
  --background-end-rgb: 13, 13, 43; /* Updated to RGB value */
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255; /* Keep dark mode foreground color */
    --background-start-rgb: 13, 13, 43; /* Updated to RGB value for dark mode */
    --background-end-rgb: 13, 13, 43; /* Updated to RGB value for dark mode */
  }
}


body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}
